.Add{
    width: 800px;
    height: 100px;
    border: 3px solid black;
    font-size: x-large;
    margin-left: 180px;
    height: 50px;
    margin-top: 40px;
  }
.Author{
    width: 350px;
    margin-top: 20px;
    border: 2px solid black;
    height: 30px;
    font-size: larger;
    margin-left: 180px;
  }
.ISBN{
    width: 200px;
    border: 2px solid black;
    margin-top: 20px;
    height: 30px;
    font-size: larger;
    margin-left: 180px;
  }
.des{
    width: 800px;
    border: 2px solid black;
    margin-top: 20px;
    height: 300px;
    font-size: x-large;
    margin-left: 180px;
    text-align:top left;
  }

  h1{
    font-size: 50px;
    text-align: center;
}
.submit{
    margin-top: 20px;
    margin-left: 180px;
    display: inline-block;
    border-radius: 4px;
    background-color: darkgoldenrod;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 150px;
    transition: all 0.3s;
    cursor: pointer;
  }
  
  .submit span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .submit span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .submit:hover span {
    padding-right: 25px;
  }
  
  .submit:hover span:after {
    opacity: 1;
    right: 0;
}