body {
  font-family: Arial, sans-serif;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
  background-image: url(library.jpg);
  width: 100%;
  height: 100%;
  background-size: cover;
  background-attachment: fixed;
}
p{
  font-size: 60px;
}
header {
  background-color: rgba(50, 50, 50, 0.9);
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 80px;
}

nav {
  margin-top: 20px;
}


main {
  text-align: center;
  padding: 2vw;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

input[type="text"] {
  align-self: center;
  padding: 10px;
  border: none;
  border-radius: 3px 0 0 3px;
  width: 70%;
  height: 50px;
  font-size: 40px;
}

button {
  background-color: yellow;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
  width: 15%;
  font-size: 40px;
}

button:hover {
  background-color: #3e8e41;
}

.button-64 {
  margin-left: 40%;
  align-items: center;
  background-image: linear-gradient(144deg,#AF40FF, #5B42F3 50%,#00DDEB);
  border: 0;
  border-radius: 8px;
  box-shadow: rgba(151, 65, 252, 0.2) 0 15px 30px -5px;
  box-sizing: border-box;
  color: #FFFFFF;
  display: flex;
  font-family: Phantomsans, sans-serif;
  font-size: 20px;
  justify-content: center;
  line-height: 1em;
  padding: 3px;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  cursor: pointer;
}

.button-64:active,
.button-64:hover {
  outline: 0;
}

.button-64 span {
  background-color: rgb(5, 6, 45);
  padding: 16px 24px;
  border-radius: 6px;
  width: 100%;
  height: 100%;
  transition: 300ms;
}

.button-64:hover span {
  background: none;
}

@media (min-width: 768px) {
  .button-64 {
    font-size: 24px;
    min-width: 196px;
  }
}

.list-book-tile{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  min-height: 10vw;
  background-color: rgba(50, 50, 50, 0.9);
  margin: 1vw;
  padding: 5px;
  padding-left: 20px;
  border-radius: 15px;
}
.list-book-header{
  display: flex;
  align-items: start;
  justify-content: space-between;
  width: 85vw;
  padding: 5px;
  padding-left: 20px;
  border-radius: 15px;
}
.list-book-title{
  font-size: xxx-large;
  font-weight: 500;
  font-family: cursive;
}
.list-book-author{
  font-size: x-large;
  font-weight: 700;
  font-family: cursive;
}
.list-book-description{
  text-align: left;
}
